*{
    margin: 0;
    padding: 0;
    font-family: 'Calibiri', sans-serif;
    box-sizing: border-box;
}
.Container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(145deg, #3333cc, #3d3d5c);
    padding: 10px;
}
.ToDo-App {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 100px; /*top right bottom left*/
    border-radius: 10px;
}
.ToDo-App h1 {
    color: #404040;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.AxeImage{
    max-width: 80px;
    margin-left: 10px;
}
.Row {
    display: flex;
    align-itmes: center;
    justify-content: space-between;
    background: #e6f3ff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}